.transition-group {
    position: relative;
}

.right-enter {
    opacity: 0;
    transform: translateX(450px);
}

.right-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease-in;
}

.right-exit {
    opacity: 1;
    transform: translateX(0);
}

.right-exit-active {
    opacity: 0;
    transform: translateX(-450px);
    transition: all 0.5s ease-in;
}

.left-enter {
    opacity: 0;
    transform: translateX(-450px);
}

.left-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease-in;
}

.left-exit {
    opacity: 1;
    transform: translateX(0);
}

.left-exit-active {
    opacity: 0;
    transform: translateX(450px);
    transition: all 0.5s ease-in;
}